.container {
    max-width: 1024px;
    margin: 0 auto;
}

.tabbed-news {
    border: 1px solid #0061A6;
}

.header {
    overflow: hidden;    
}

.header-tabs {
    width: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 10px;
    background-color: #ededed;
    border-top: 2px solid #0061A6;
}

.header-tabs li {
    display: inline-block;
}

.tab {
    margin: 0 10px;
    padding: 10px 15px;
    color: #fff;
    border: none;
}

.tab.uk-news {
    background-color: #D61D00;
}

.tab.football {
    background-color: #008000;
}

.tab.travel {
    background-color: #066EC9;
}

.news-list {
    display: none;
    margin-top: 0;
}

.news-list.active {
    display: block;
}

.news-list > li {
    margin: 10px 0;
}